
body {background-color: rgb(105, 76, 24);}
h1 {text-align: center ; color: rgb(26, 26, 230);}
table {text-align: center ; background-color: rgb(135, 38, 231);}
td {width: 300px}
p {text-align: justify ; color: rgb(128, 39, 51) ;}
h2 {text-align: center ; color: rgb(20, 78, 238);}
br {line-height: 5px;}